.App {
  text-align: center;

  &-counter {
    margin: 40px 0;
    font-size: 45px;
  }

  &-buttonStart {
    background-color: green;

    &:active {
      background-color: darkgreen;
    }
  }
  &-buttonStop {
    background-color: red;

    &:active {
      background-color: darkred;
    }
  }
  &-buttonReset {
    background-color: yellow;

    &:active {
      background-color: orange;
    }
  }
}

button {
  font-size: calc(10px + 2vmin);
}
